<suite name="Use Cases" parallel="tests" thread-count="2">
    <tests>
        <test name="chromeTest">
             <parameter name="browser" value="chrome" />
            <classes>
                <class name="Project.SeleniumAll.FKTest">
                </class>
            </classes>
        </test>
         <test name="firefoxTest">
             <parameter name="browser" value="firefox" />
            <classes>
                <class name="Project.SeleniumAll.FKTest">
                </class>
            </classes>
        </test>
    </tests>
</suite>
